/* CSS FOR KBD */
kbd{position:relative;color:#28a1f0;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;}
kbd:before{
  position:absolute;
  content:&#39;Double click to select&#39;;
  display:table;
  bottom:23px;
  left:0;
  background:#f56289;
  color:#fff;
  padding:6px;
  border-radius:3px;
  font-size:75%;
  line-height:1;
  opacity:0;
  visibility:hidden;
  z-index:2;
  transition:all .3s;}
kbd:hover:before{opacity:1;visibility:visible} 