<!-- Related Post Widget Start -->
<b:if cond='data:blog.pageType == &quot;item&quot;'>
<style>
.related-post{margin:2em auto 0;font:normal normal 11px/1.4 Helmet,FreeSans,Sans-Serif}
.related-post h4{font-size:150%;margin:0 0 .5em}
.related-post-style-2,.related-post-style-2 li{margin:0;padding:0;list-style:none}
.related-post-style-2 li{padding:10px;border-top:1px solid #eee;overflow:hidden}
.related-post-style-2 li:first-child{border-top:none}
.related-post-style-2 .related-post-item-thumbnail{width:72px;height:72px;max-width:none;max-height:none;background-color:transparent;border:none;padding:0;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;float:left;margin:2px 10px 0 0}
.related-post-style-2 .related-post-item-title{font-weight:bold;font-size:110%}
.related-post-style-2 .related-post-item-summary{display:block;overflow:hidden}
.related-post-style-2 .related-post-item-more{}
</style>
</b:if>
